.feedback__wraper {
  position: relative;
  display: flex;
  flex-direction: column;
  .container();
}

.feedback__form-effect {
  margin-bottom: 43px;
}

.feedback__btn {
  width: 280px;
  max-width: 324px;
  margin-bottom: 73px;
  padding: 16px 0;
  border: 0;
  align-self: center;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #81b3d2;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media @tablet {
  .feedback__wraper {
    max-width: 960px;
    padding-left: 60px;
    padding-right: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .feedback__form-effect {
    position: relative;
    margin-bottom: 66px;
    order: -7;
    width: 50%;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      background-color: #dbdbdb;
      top: 0;
      bottom: 0;
      right: 0;
    }
  }

  .feedback__form-profil {
    order: -6;
    width: 50%;
  }

  .feedback__form-contact {
    order: -5;
    width: 100%;
  }

  .feedback__form-visited {
    order: -4;
    width: 100%;
  }

  .feedback__form-emot {
    order: -3;
    width: 100%;
  }

  .feedback__btn {
    margin-bottom: 96px;
    width: 50%;
    max-width: 50%;
  }
}

@media @desktop {
  .feedback__wraper {
    padding-left: 120px;
    padding-right: 120px;
  }

  .feedback__btn {
    margin-bottom: 101px;
  }
}
