.good-city__wraper {
  .container();
}

.good-city__title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #81b3d2;
}

.good-city__header {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  box-sizing: border-box;
}

.good-city__title {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
}

.good-city__number {
  font-size: 14px;
  line-height: 21px;
}

.good-city__text {
  margin: 0;
  max-width: 280px;
  font-size: 14px;
  line-height: 21px;
}

.good-city__image {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 256px;
}

.good-city__benefits-item {
  position: relative;
}

.good-city__benefits-item-icon {
  position: absolute;
  left: 3px;
  top: -12px;
}

.good-city__benefits-item-header {
  margin: 0;
  padding-bottom: 14px;

  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.good-city__benefits-item-text {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

@media @mobile {
  .good-city__title-block {
    position: relative;
    width: 100%;
    height: 210px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -24px;
      height: 40px;

      background-image: url("../img/bg-triangle.svg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
  }

  .good-city__header {
    width: 280px;
    min-height: 196px;
    padding-top: 55px;
    padding-bottom: 29px;
  }

  .good-city__image {
    height: 260px;
    display: flex;
    justify-content: center;
  }

  .good-city__image img {
    display: block;
    height: 260px;
    width: 320px;
  }

  .good-city__benefits {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    width: 280px;
    padding: 0 20px;
    padding-top: 35px;
    padding-bottom: 37px;
  }

  .good-city__benefits-item {
    padding-bottom: 28px;
    padding-left: 50px;
    padding-right: 20px;
  }

  .good-city__benefits-item:last-of-type {
    padding-bottom: 0;
  }

  .good-city__benefits-item-header {
    margin: 0;
    padding-bottom: 14px;

    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;

    &::before {
      position: absolute;
      content: "";
      width: 39px;
      height: 38px;
    }
  }

  .good-city__benefits-item-home::before {
    top: -11px;
    left: 1px;
    background-image: url("../img/icon-house.svg");
    background-size: 39px 37px;
    background-repeat: no-repeat;
  }

  .good-city__benefits-item-gift::before {
    top: -13px;
    left: 5px;
    background-image: url("../img/icon-gift.svg");
    background-size: 32px 38px;
    background-repeat: no-repeat;
  }

  .good-city__benefits-item-burger::before {
    top: -7px;
    left: -2px;
    background-image: url("../img/icon-burger.svg");
    background-size: 40px 35px;
    background-repeat: no-repeat;
  }
}

@media @tablet {
  .good-city__br {
    display: block;
  }

  .good-city__background {
    display: flex;
  }

  .good-city__title-block {
    width: calc(100% / 3);
    height: 256px;
  }

  .good-city__header {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 45px 41px;
  }

  .good-city__title {
    font-size: 21px;
    align-self: center;
  }

  .good-city__image {
    width: calc(100% / 3 * 2);
  }

  .good-city__image img {
    width: 100%;
  }

  .good-city__benefits {
    height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }

  .good-city__benefits-item {
    width: calc(100% / 3);
    padding: 0 45px;
    padding-top: 160px;
  }

  .good-city__benefits-item:nth-of-type(2) {
    order: 3;
  }

  .good-city__benefits-item-icon {
    left: 50%;
    top: 59px;
  }

  .good-city__benefits-item:nth-of-type(1) .good-city__benefits-item-icon {
    width: 75px;
    height: 72px;
    margin-left: -38px;
  }

  .good-city__benefits-item:nth-of-type(2) .good-city__benefits-item-icon {
    width: 64px;
    height: 75px;
    margin-left: -38px;
  }

  .good-city__benefits-item:nth-of-type(3) .good-city__benefits-item-icon {
    width: 77px;
    height: 68px;
    margin-left: -39px;
  }

  .good-city__benefits-item-header {
    padding-bottom: 20px;
    font-size: 21px;

    &::before {
      position: absolute;
      content: "";
      width: 78px;
      height: 74px;
    }
  }

  .good-city__benefits-item-home::before {
    top: 60px;
    left: 89px;
    background-image: url("../img/icon-house.svg");
    background-size: 75px 72px;
    background-repeat: no-repeat;
  }

  .good-city__benefits-item-gift::before {
    top: 59px;
    left: 95px;
    background-image: url("../img/icon-gift.svg");
    background-size: 64px 74px;
    background-repeat: no-repeat;
  }

  .good-city__benefits-item-burger::before {
    top: 60px;
    left: 89px;
    background-image: url("../img/icon-burger.svg");
    background-size: 77px 68px;
    background-repeat: no-repeat;
  }


  .good-city__image picture {
    max-height: 256px;
  }
}

@media @desktop {
  .good-city__header {
    padding: 52px;
  }

  .good-city__image picture {
    max-height: 400px;
  }

  .good-city__benefits-item {
    padding-left: 50px;
    padding-right: 50px;
  }

  .good-city__benefits-item-header {
    &::before {
      position: absolute;
      content: "";
      width: 78px;
      height: 75px;
    }
  }

  .good-city__benefits-item-home::before {
    top: 60px;
    left: 160px;
    background-image: url("../img/icon-house.svg");
    background-size: 75px 72px;
    background-repeat: no-repeat;
  }

  .good-city__benefits-item-gift::before {
    top: 60px;
    left: 168px;
    background-image: url("../img/icon-gift.svg");
    background-size: 64px 75px;
    background-repeat: no-repeat;
  }

  .good-city__benefits-item-burger::before {
    top: 63px;
    left: 160px;
    background-image: url("../img/icon-burger.svg");
    background-size: 77px 68px;
    background-repeat: no-repeat;
  }
}
