.page-footer__wraper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.page-footer__hashtag {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.page-footer__social {
  display: flex;
  justify-content: center;
}

.page-footer__copyright-wraper {
  display: flex;
  justify-content: center;

  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.page-footer__copyright {
  margin: 0;
  margin-right: 11px;
  align-self: center;
}

.page-footer__copyright-img-link {
  display: block;

  &:hover {
    fill: #81b3d2;
  }

  &:active {
    fill: rgba(0, 0, 0, 0.3);
  }
}

@media @mobile {
  .page-footer__hashtag {
    padding-bottom: 35px;
  }

  .page-footer__copyright-wraper {
    margin-top: 40px;
    margin-bottom: 23px;
  }
}
