.promo-text__slogan {
  position: relative;
  height: 389px;
  width: 100%;
  display: flex;

  background-color: #4a76a3;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 28px;

    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &--lower {
    height: 158px;
    background-size: auto 389px;
  }
}

.promo-text__title {
  margin: auto;
  padding-bottom: 20px;

  &--index {
    padding-bottom: 0;
  }
}

@media @mobile {
  .promo-text__title {
    width: 229px;

    &--index {
      width: 282px;
      height: 214px;
    }
  }

  @media @retina {
    .promo-text__slogan {
      background-image: url("../img/bg-back-mobile@2x.jpg");
    }
  }
}

@media @tablet {
  .promo-text__slogan {
    height: 518px;
    background-image: url("../img/bg-back-desktop@1x.jpg");

    &--lower {
      height: 290px;
      background-size: auto 518px;
    }

    &::after {
      height: 57px;
      background-image: url("../img/bg-intro-triangle-tablet.svg");
    }
  }

  .promo-text__title {
    height: 78px;
    width: 458px;

    &--index {
      width: 460px;
      height: 350px;
      padding-bottom: 15px;
    }
  }

  @media @retina {
    .promo-text__slogan {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
}

@media @desktop {
  .promo-text__slogan {
    &--lower {
      height: 301px;
    }

    &::after {
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }

  .promo-text__title {
    width: 461px;
    height: 80px;

    &--index {
      width: 460px;
      height: 350px;
    }
  }
}
